
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Mukta:wght@500;600;700&family=Oleo+Script:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #1e1d1d;
    background-image: url(./03.png);
    background-size:cover;
    background-position:bottom;
    color: white;
}
.navbar-brand
{
    font-size: 2.4vw;
    font-family: "Oleo Script", serif !important;
}

.navbar-nav li a{
    color: rgb(237, 159, 43);
    margin-left: 10px;
    border-radius: 17px;
    font-weight: 700;
    padding: 5px 16px;
}
.navbar-nav li a:hover{
    color: rgb(223, 153, 0);
    background-color: rgb(222, 201, 185);

}
.ri-menu-line
{
    color: white;
}

.btn-link{
    padding: 4px 19px !important;
    background-color: sandybrown;
    border-radius: 10px !important;
}
.page1 {
    height: 100vh;
    width: 100%;
    display: flex;
}
.left-container{
    width: 70%;
    /* background-color: firebrick; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    font-family: "Mukta", serif;
    font-weight: 900;

}
.main-header
{
    font-family: "Edu AU VIC WA NT Arrows", serif;
    /* background-color: antiquewhite; */
    width: 100%;
}
.main-header h1
{
    font-size: 4vw;
}
.main-header h1 span:nth-child(3)
{
    color: sandybrown;
}
.details-header
{
    text-align: center;
    width: 80%;
    font-family: "Mukta", serif;
}
.right-container{
    width: 50%;
    /* background-color: sienna; */
}
.right-container img{
    max-width: 100%;
    /* background-color: sienna; */
}
.second-buttons
{
  /* background-color: saddlebrown; */
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}

@media only screen and (max-width: 600px) {
    .page1 {
        display: block;
        margin-top: 90px;
    }
    .left-container{
        width: 100%;
        gap: 30px;
    
    }
    .main-header h1
    {
        text-align: center;
        font-size:28px;
    }
    .main-header h1 span:nth-child(3)
    {
        color: sandybrown;
        letter-spacing: 10px;
    }
    .details-header
    {
        text-align: center;
        width: 90%;
        font-family: "Mukta", serif;
        line-height: 16px;
    }
    .right-container img{
        width: 100%;

    }
    .collapse-dark
    {
        background-color: rgb(185, 212, 154);
        border-radius: 15px;
        margin-top: 2px;
    }
  }